<!DOCTYPE html>
{% extends 'base_app/base.html' %}
{% block head_block %}
    <title>Sign-In Page</title>
{% endblock %}

{% block body_block %}

    <h1>Please Login here:</h1>
    <form action="{% url 'base_app:login' %}" method="POST">
        {% csrf_token %}

            <label for="userName">Username:</label>
            <input id="userName" type="text" name="username" placeholder="Enter username">
            <p></p>

            <label for="pwd">Password:</label>
            <input id="pwd" type="password" name="password">
            <p></p>

            <input type="submit" value="Log-In">
    </form>

{% endblock %}
